@import "tailwindcss";
@config "../../tailwind.config.ts";
.tb {
  @apply border-[3px] border-[whitesmoke];
}

.tc {
  @apply text-[whitesmoke] text-xl;
}

.grad__txt {
  background: linear-gradient(to right, var(--white__0), var(--neutral__500));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.clamp__txt {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
  word-break: break-word;
}

.scroll__app::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll__app::-webkit-scrollbar-track {
  background: transparent;
}

.scroll__app::-webkit-scrollbar-thumb {
  background: var(--white__0);
  border-radius: 10px;
  box-shadow: 0 0 2.5px var(--white__0), 0 0 5px var(--white__0);
}

.scroll__app {
  scrollbar-width: thin;
  scrollbar-color: var(--white__0) transparent;
}

.link__app,
.link__curr {
  position: relative;
  max-width: fit-content;
}
.link__app::after,
.link__curr::after {
  content: "";
  position: absolute;
  bottom: -3.5px;
  width: 100%;
  left: 0;
  height: 2px;
  transform: scaleX(0);
  transform-origin: center;
  transition: 0.3s ease-in-out;
  background-color: var(--white__0);
}

.link__app:hover::after,
.link__curr::after {
  transform: scaleX(1);
  box-shadow: 0 0 5px var(--white__0), 0 0 10px var(--white__0);
}

.btn__app:enabled,
.el__app {
  cursor: pointer;
  transition: 0.3s;
}
.btn__app:enabled:hover,
.el__app:hover {
  transform: scale(var(--scale__up));
}

.btn__app:disabled {
  @apply cursor-not-allowed opacity-50;
}

.btn__app:enabled:active,
.el__app:active {
  transition: 0.15s;
  transform: scale(0.8);
}

.z__bg_sidebar {
  z-index: 350;
}

.z__header {
  z-index: 400;
}

.z__sidebar {
  z-index: 450;
}

.z__black_bg__popup {
  z-index: 550;
}

.z__popup {
  z-index: 600;
}

.z__toast {
  z-index: 1000;
}

.txt__xs {
  @apply font-normal text-xs sm:text-sm lg:text-base;
}

.txt__sm {
  @apply font-normal text-sm sm:text-base lg:text-lg;
}

.txt__md {
  @apply font-medium text-base sm:text-lg lg:text-xl;
}

.txt__lg {
  @apply font-bold text-lg sm:text-xl lg:text-2xl;
}

.txt__xl {
  @apply font-bold text-xl sm:text-2xl lg:text-3xl;
}

.txt__2xl {
  @apply font-bold text-2xl sm:text-3xl lg:text-4xl;
}

.txt__3xl {
  @apply font-extrabold text-3xl sm:text-4xl lg:text-5xl;
}

.txt__clr {
  @apply text-neutral-300;
}

.svg__xs {
  width: 25px;
  min-width: 25px;
  height: 25px;
  min-height: 25px;
}

@media screen and (min-width: 600px) {
  .svg__xs {
    min-width: 30px;
    width: 30px;
    min-height: 30px;
    height: 30px;
  }
}
@media screen and (min-width: 1000px) {
  .svg__xs {
    min-width: 35px;
    width: 35px;
    min-height: 35px;
    height: 35px;
  }
}
.svg__sm {
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
}

@media screen and (min-width: 600px) {
  .svg__sm {
    min-width: 35px;
    width: 35px;
    min-height: 35px;
    height: 35px;
  }
}
@media screen and (min-width: 1000px) {
  .svg__sm {
    min-width: 40px;
    width: 40px;
    min-height: 40px;
    height: 40px;
  }
}
.svg__md {
  width: 35px;
  min-width: 35px;
  height: 35px;
  min-height: 35px;
}

@media screen and (min-width: 600px) {
  .svg__md {
    min-width: 40px;
    width: 40px;
    min-height: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1000px) {
  .svg__md {
    min-width: 45px;
    width: 45px;
    min-height: 45px;
    height: 45px;
  }
}
.svg__lg {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
}

@media screen and (min-width: 600px) {
  .svg__lg {
    min-width: 45px;
    width: 45px;
    min-height: 45px;
    height: 45px;
  }
}
@media screen and (min-width: 1000px) {
  .svg__lg {
    min-width: 50px;
    width: 50px;
    min-height: 50px;
    height: 50px;
  }
}
.svg__xl {
  width: 45px;
  min-width: 45px;
  height: 45px;
  min-height: 45px;
}

@media screen and (min-width: 600px) {
  .svg__xl {
    min-width: 50px;
    width: 50px;
    min-height: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1000px) {
  .svg__xl {
    min-width: 55px;
    width: 55px;
    min-height: 55px;
    height: 55px;
  }
}
.svg__2xl {
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
}

@media screen and (min-width: 600px) {
  .svg__2xl {
    min-width: 55px;
    width: 55px;
    min-height: 55px;
    height: 55px;
  }
}
@media screen and (min-width: 1000px) {
  .svg__2xl {
    min-width: 60px;
    width: 60px;
    min-height: 60px;
    height: 60px;
  }
}
.bd__sm {
  @apply border-2 border-w__0 rounded-xl;
}

.bd__md {
  @apply border-3 border-w__0;
}

.input__base {
  @apply transition-all duration-300 w-full py-2 px-4 outline-0;
}

.input__base:focus {
  box-shadow: 0 0 2.5px var(--white__0), 0 0 5px var(--white__0), 0 0 10px var(--white__0), 0 0 15px var(--white__0), 0 0 20px var(--white__0);
}

.auth__form {
  @apply w-full mx-auto mt-[50px] max-w-[800px] h-fit rounded-xl overflow-hidden border-3 border-w__0;
}

:root {
  --white__0: #f5f5f5;
  --gray__300: #d1d5dc;
  --green__600: #16a34a;
  --blue__600: #2563eb;
  --red__600: #dc2626;
  --orange__600: #ea580c;
  --yellow__600: #ca8a04;
  --neutral__50: #fafafa;
  --neutral__100: #f5f5f5;
  --neutral__200: #e5e5e5;
  --neutral__300: #d4d4d4;
  --neutral__400: #a3a3a3;
  --neutral__500: #737373;
  --neutral__600: #525252;
  --neutral__700: #404040;
  --neutral__800: #262626;
  --neutral__900: #171717;
  --neutral__950: #0a0a0a;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

button {
  appearance: none;
}

input {
  appearance: none;
}

a {
  text-decoration: none;
}
