.btn_icons {
}

.btn_icons__ref_0,
.btn_icons__ref_1 {
  @apply min-h-[500%] absolute rotate-[30deg] 
  -top-1/2 transition-all duration-300 bg-white;
}
.btn_icons__ref_0 {
  @apply -left-full w-[10%];
}
.btn_icons__ref_1 {
  @apply -left-1/2 w-[10%];
}

.btn_icons__ref_0::after,
.btn_icons__ref_1::after {
  @apply content-[""] absolute h-full -top-1/2;
}
.btn_icons__ref_0::after {
  @apply w-[200%] bg-neutral-800  -left-2 opacity-90;
}
.btn_icons__ref_1::after {
  @apply w-[200%] bg-neutral-800  -left-2 opacity-90;
}

/* svg */
.btn_icons__svg_0,
.btn_icons__svg_1,
.btn_icons__svg_2,
.btn_icons__svg_3,
.btn_icons__svg_4,
.btn_icons__svg_5 {
  @apply absolute pointer-events-none transition-all duration-300 text-orange-500 z-50 scale-0 opacity-50;
}
.btn_icons__svg_0 {
  @apply w-[20px] h-[20px] -top-[50%] -left-[10%];
}
.btn_icons__svg_1 {
  @apply w-[40px] h-[40px] -top-[50%] -right-[10%];
}
.btn_icons__svg_2 {
  @apply w-[20px] h-[20px] -bottom-[150%] left-0;
}
.btn_icons__svg_3 {
  @apply w-[30px] h-[30px] -top-[35%] left-[25%];
}
.btn_icons__svg_4 {
  @apply w-[25px] h-[25px] -bottom-[100%] right-[10%];
}
.btn_icons__svg_5 {
  @apply w-[35px] h-[35px] -bottom-[50%] right-[50%];
}

/* hover  */
.btn_icons:enabled:hover .btn_icons__shadow {
  @apply -translate-x-[3%] translate-y-[15%];
}
.btn_icons:enabled:hover .btn_icons__ref_0 {
  @apply translate-x-[1000%];
}
.btn_icons:enabled:hover .btn_icons__ref_1 {
  @apply translate-x-[2000%];
}
.btn_icons:enabled:hover {
  @apply -rotate-[5deg] scale-110;
}
.btn_icons:enabled:hover .btn_icons__svg_0,
.btn_icons:enabled:hover .btn_icons__svg_1,
.btn_icons:enabled:hover .btn_icons__svg_2,
.btn_icons:enabled:hover .btn_icons__svg_3,
.btn_icons:enabled:hover .btn_icons__svg_4,
.btn_icons:enabled:hover .btn_icons__svg_5 {
  @apply opacity-100;
}
.btn_icons:enabled:hover .btn_icons__svg_0 {
  @apply scale-110 delay-100;
}
.btn_icons:enabled:hover .btn_icons__svg_1 {
  @apply scale-110;
}
.btn_icons:enabled:hover .btn_icons__svg_2 {
  @apply scale-110 -translate-y-[200%] delay-100;
}
.btn_icons:enabled:hover .btn_icons__svg_3 {
  @apply scale-110 -translate-y-[30%] -rotate-45;
}
.btn_icons:enabled:hover .btn_icons__svg_4 {
  @apply scale-110  delay-100 -translate-y-[100%];
}
.btn_icons:enabled:hover .btn_icons__svg_5 {
  @apply scale-110  delay-100 -rotate-45;
}
