.btn_icons {
}

@for $i from 0 through 5 {
  .btn_icons__svg_#{$i} {
    position: absolute;
    pointer-events: none;
    transition: 0.3s;
    z-index: 100;
    transform: scale(0);
    opacity: 0.5;

    @if ($i %2) {
      width: 20px;
      height: 20px;
    } @else {
      width: 40px;
      height: 40px;
    }
  }

  .btn_icons:enabled:hover .btn_icons__svg_#{$i} {
    opacity: 1;
    transform: scale(1.1);
    @if ($i %2) {
      transition-delay: 0.15s;
    }
  }
}

/* svg */

.btn_icons__svg_0 {
  @apply -top-[50%] -left-[10%];
}
.btn_icons__svg_1 {
  @apply -top-[50%] -right-[10%];
}
.btn_icons__svg_2 {
  @apply -bottom-[150%] left-0;
}
.btn_icons__svg_3 {
  @apply -top-[35%] left-[25%];
}
.btn_icons__svg_4 {
  @apply -bottom-[100%] right-[10%];
}
.btn_icons__svg_5 {
  @apply -bottom-[50%] right-[50%];
}

/* hover  */

.btn_icons:enabled:hover .btn_icons__svg_2 {
  @apply -translate-y-[200%];
}
.btn_icons:enabled:hover .btn_icons__svg_3 {
  @apply -translate-y-[30%] -rotate-45;
}
.btn_icons:enabled:hover .btn_icons__svg_4 {
  @apply -translate-y-[100%];
}
.btn_icons:enabled:hover .btn_icons__svg_5 {
  @apply -rotate-45;
}
