.input__base {
  @apply transition-all duration-300 w-full py-2 px-4 outline-0;
}
.input__base:focus {
  box-shadow: 0 0 2.5px var(--white__0), 0 0 5px var(--white__0),
    0 0 10px var(--white__0), 0 0 15px var(--white__0), 0 0 20px var(--white__0);
}
