.cont__grid__sm,
.cont__grid__md,
.cont__grid__lg {
  @apply w-full grid grid-cols-1;
}

.cont__grid__sm {
  @apply gap-4;
}
.cont__grid__md {
  @apply gap-6;
}
.cont__grid__lg {
  @apply gap-8;
}

.form__shape {
  @apply w-full mx-auto max-w-[800px] h-fit rounded-xl border-3 border-neutral-300 pb-5;
}

.form__body {
  @apply grid grid-cols-1 gap-6 w-full h-fit items-start p-5;
}
