.z__bg_sidebar {
  z-index: 100;
}

.z__header {
  z-index: 200;
}

.z__sidebar {
  z-index: 300;
}

.z__black_bg__search_bar {
  z-index: 400;
}

.z__search_bar {
  z-index: 500;
}

.z__black_bg__popup {
  z-index: 600;
}

.z__popup {
  z-index: 700;
}

.z__toast {
  z-index: 800;
}
