.z__bg_sidebar {
  z-index: 350;
}

.z__header {
  z-index: 400;
}

.z__sidebar {
  z-index: 450;
}

.z__black_bg__popup {
  z-index: 550;
}

.z__popup {
  z-index: 600;
}

.z__toast {
  z-index: 1000;
}
